#content-container {
    max-width: auto;
    min-height: 600px;
    height: auto;
    background-color: #cecece;
    margin: 50px 100px 50px 200px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}