#content-container {
    max-width: auto;
    min-height: 89vh;
    height: auto;
    margin: 40px 40px 40px 40px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}